.info-text {
  font-size: 22px;
}

.info-headings {
  font-family: "Open Sans", Sans;
  font-size: 35px;
  border-bottom: 1px solid #76323f;
  width: 60%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 990px) {
  .col-md-8 {
    width: 100%;
  }
  .info-text {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 990px) {
  .info-headings {
    font-size: 26px;
  }
  .info-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 441px) {
  .info-headings {
    font-size: 20px;
  }
  .info-text {
    font-size: 15px;
  }
}