.menu-list {
  list-style-type: none;
  padding-left: 1rem;
}

.quote-title {
  margin: 1rem 0 0.5rem 0;
  font-size: 18px;
  border-bottom: 1px solid #d5d5d5;
}

.col-quote-menu {
  border-right: 1px solid #d5d5d5;
}