.menu-overflow-container {
  padding: 3rem 2rem 2rem 2rem;
  background-color: #76323F;
  height: 88vh;
}

.menu-heading {
  color: #c09f80;
  border-bottom: 1px solid #c09f80;
  /* font-size: 18px; */
  font-family: 'Open Sans', sans-serif;
}

.menu-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-group-item {
  margin: 15px 0px;
}

.menu-item {
  color: #d5d5d5;
  /* font-family: "Lato"; */
}

.menu-btn {
    color: #D5D5D5;
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color: transparent;
    margin-top: 5px;
    padding: 0;
}

.menu-btn:hover {
    color: #c09f80;
    cursor: pointer;
    
}

.menu-btn:focus {
  outline: none;
}

@media screen and (max-width: 1523px) {
  .menu-group-item {
    font-size: 15px;
  }
}