.menu {
  background-color: #505050;
  margin-top: -20px;
  height: 88vh;
  width: 80%;
  color: #f4f4ff;
  padding-top: 20px;
}

.container-fluid {
  padding: 0;
}

.api-info {
  padding: 0;
  margin-left: -20px;
}

.api-card {
  border: 1px solid green;
}