.Api-wrapper {
  margin: 1rem;
}

.api-heading {
  font-family: "Open Sans";
  padding: 1.5rem 0 1rem 0;
  border-bottom: 1px solid #d5d5d5;
  text-align: center;
}

.api-text {
  font-family: "Open Sans";
  text-align: center;
  font-size: 22px;
}