.splash-container {
  margin: 0 10rem;
}

.splash-row {
  height: 500px;
  border: 1px solid black;
  margin: 20px auto;
  align-content: center;
}

.modal-header {
  border-bottom: 1px solid #D5D5D5;
}

.modal-title {
  color: #D5D5D5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.modal-content {
  background-color: rgba(25, 25, 25, 0.9);
  color: #D5D5D5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
