.splash-container {
  margin: 0 10rem;
}

.splash-row {
  height: 500px;
  border: 1px solid black;
  margin: 20px auto;
  align-content: center;
}

.modal-header {
  border-bottom: 1px solid #d5d5d5;
}

.modal-title {
  color: #373737;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.modal-content {
  background-color: rgba(244, 244, 244, 1.0);
  color: #373737;;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  width: 100%;
  margin: auto;
  border: none;
}

.form-control {
  background-color: #f4f4f4;
}

.col-md-9 {
  margin: 15px auto;
  /* border: 1px solid black; */
}
